In [30]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [36]:
# Based on: 
# https://towardsdatascience.com/random-forest-in-python-24d0893d51c0

In [25]:
features = pd.read_csv(r"C:\Users\ullma\Desktop\aspects_hrg\aspects_ds.csv")
features = features.fillna(1)
features.head(5)

,name,id,creativity,financial,publisher,team,score,business,management-feature,management-people,production
0,Skittleball,136,True,True,True,1.0,42,0,0,2,3
1,NFL RUSH Heroes and Rivals,94,1,False,True,1.0,42,0,1,1,2
2,Music Up,89,True,False,True,1.0,42,0,3,0,1
3,Amazia,5,True,True,True,1.0,42,2,0,2,1
4,Knightly Adventure,73,1,True,True,1.0,45,1,0,1,3

In [26]:
labels = np.array(features['score'])
features = np.array(features[['business','team','management-feature','management-people','production']])
feature_list = ['business','team','management-feature','management-people','production']

In [27]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (150, 5)
Training Labels Shape: (150,)
Testing Features Shape: (50, 5)
Testing Labels Shape: (50,)

In [29]:
baseline_preds = test_features[:, feature_list.index('team')]
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  61.46

In [31]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(train_features, train_labels);

In [32]:
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 10.74 degrees.

In [33]:
mape = 100 * (errors / test_labels)
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 84.48 %.

In [35]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
tree = rf.estimators_[5]
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)
(graph, ) = pydot.graph_from_dot_file('tree.dot')
graph.write_png('tree.png')